@import '../../vars.css';

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

h2 span {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

h2 a {
    color: var(--color-text);
    text-transform: uppercase;
    text-decoration: none;
}

h2 a:hover{
    color: #576cbc;
    text-transform: uppercase;
    text-decoration: none;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}